*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title{
    color: #ec1a59;
    font-size: 30px;
    margin: 10px 0 20px 0px;
    text-align: center;
    text-transform: uppercase;
}

header{
    width: 100%;
    height: 99vh;
    background: #30fdfd;  
    background: -webkit-linear-gradient(to right, rgba(245, 4, 4, 0.8), rgb(235, 214, 147)), url(../img/potosi.jpg);   
    background: linear-gradient(to right, rgba(224, 15, 15, 0.8), rgb(226, 166, 166)), url(../img/potosi.jpg);  
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    width: 100%;
    height: 80px;
    background:rgb(240, 23, 23);
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    display:flex;
    transition: ease-in-out 0.5s;
}

.nav .logo a{
    color: #fdfdfd;
    font-weight: bold;
    text-decoration: none;
    font-size:25px
}

.links-header{
    transition: ease-in-out 0.5s;
}

.links-header a{
    color:#ffffff;
    margin-left: 40px;
    text-decoration:none;
}

.nav{
    display:flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

header .text-header{
    display:flex;
    height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-header h1{
    font-size: 80px;
    font-weight: bold;
    color:rgb(0, 0, 0)
}

main{
    margin-bottom: -6px;
}

.text-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

 

.container-hobbie{
    display:flex;
    justify-content: space-evenly;
}

.image-hobbie{
    width: 48%;
}

.hobbie .content-text{
    width: 48%;
}


.content-text h3{
    margin-bottom: 15px;
}


.content-text h3 span{
    background: #790909;
    color:#fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height:30px;
    padding:1px;
    box-shadow:  0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}


.content-text p{
    padding: 0px 0px 30px 15px;
    text-align:justify;
    font-weight: 300;
}


.like-us{
    background:#f2f2f2
}

.container-like{
    display: flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
}

.like{
    width: 30%;
    background:#fff;
    margin-bottom: 30px;
    border-radius:10px;
    position:relative;
}

.like img{
    width: 100%;
    height: 200px;
    border-radius: 5%;
    margin:auto;
}

.like h3{
 font-size:25px;
 margin-top:5px;
 padding: 10px 15px 15px 15px
}

.like p{
    font-weight: 100;
    color:#5d6678;
    padding: 10px 15px 35px 15px
    
}

.like a{ 
    margin: 0 5px 10px 2px;
    width: 100px;
    display: inline-block;
    background:#df4949;
    text-align: center;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgb(201, 31, 222/0.3);

}
 
.Eventos-us{
    background-color: rgb(255, 0, 0);
    margin-top: -20px;
}

.even{
    color: #fff;
    font-size: 30px;
    margin: 10px 0 20px 0px;
    text-align: center;
    text-transform: uppercase;  
}
.wave2{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 80px;
}

footer{
    background: linear-gradient(to right, rgba(248, 9, 9, 0.8), rgba(230, 215, 215, 0.8));
    padding:60px 0;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
}
.icono h4{
    color: #fff;
}

.itemfooter{
    width: 15%; 
}

.itemfooter h4{
    color:#fff;
    font-size:20px;
    font-weight: 400;
    margin-bottom:30px;
}

.itemfooter a{
    display: block;
    text-decoration:none;
    color:#fff;
    margin-bottom: 10px;
}


.social-media i{
    font-size:20px;
    display: inline-block;
    color:#fff;
    border:1px solid #fff;
    border-radius: 50%;
    width:38px;
    height: 38px;
    line-height:35px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    margin-right: 5px;
}


.social-media i:hover{
    color:rgb(238, 205, 17);
    background:#ec1414;
    border-color:rgb(27, 223, 223)
}